body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.timer,
.buttons {
  margin: 0 auto;
}

.timer {
  text-align: center;
  margin-top: 40px;
  font-size: 65px;
}
.buttons {
  text-align: center;
}
.buttons button {
  font-size: 18px;
  padding: 5px 10px;
  cursor: pointer;
}
